
<!-- src/partials/header.html -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand text-primary-custom" href="index.html">
        <i class="fas fa-brain me-2"></i>Szkoła Terapii Zabawą
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Szkolenia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="supervision.html">Superwizje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="requirements.html">Wymogi certyfikacyjne</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">O nas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
